
@charset "UTF-8"

$main-color: #ff5800
$error-color: #1E19FF

* 
	font-family: 'Inconsolata', monospace 

body, html 
	margin: 0 
	padding: 0 
	width: 100% 
	height: 100% 

.click-catcher
	height: 20px
	width: 20px
	pointer-events: none
	position: absolute

.zing-chips
	padding-bottom: 0 !important
	min-height: 0 !important
	display: block !important

	.chip
		margin-top: 0.25rem
		display: inline-block !important

.zing-chips .chip:first-child
	margin-top: 0.75rem

.zing-left
	padding: 1rem 0 1rem 1rem

.zing-right
	padding: 1rem 1rem 1rem 0

.zing-both
	padding: 1rem

.zing-feedback
	div
		width: 100%

.battle-rules img
	max-width: 100%

.battle-rules a 
	color: $main-color !important

.battle-rules a:hover
	border-bottom: 1px solid $main-color

.login 
	background: black 
	width: 100% 
	height: 100% 
	margin: 0 !important 
	display: flex 
	align-items: center 
	justify-content: center 
	flex-direction: column 
	.logo 
		padding-bottom: 2rem 
		width: 3rem 

.container-inner 
	text-align: center 
	background-color: white 
	padding: 4rem 
	h1 
		padding-bottom: 1rem 
	.nav-links 
		display: inline-block 
		.nav-item 
			&:hover 
				background-color: #ff5800 
				color: white 

input 
	-webkit-appearance: none 
	-webkit-border-radius: 0 
	-moz-appearance: none 
	appearance: none 
	background: none 
	display: inline-block 
	text-decoration: none 
	box-sizing: border-box 

h1, ul 
	margin: 0 
	
h1, .heading-1 
	font-size: 1.5rem 
	font-weight: bold 
	color: black 

footer 
	text-align: center 
	background-color: black 
	padding: 1rem 0 
	position: fixed 
	color: white 
	bottom: 0 
	width: 100% 
	z-index: 10

::placeholder 
	color: #bbb 

input:focus,
select:focus,
textarea:focus,
button:focus 
	outline: none 

// Submit Form
.container-form 
    display: flex

.submit-nobox, .submit-header 
	padding: 0 !important 
	margin: 0 !important 
	border: 0 !important 
	width: 100%

.submit-wide    
	width: 100% 

.submit-nobox 
	padding-top: 1rem !important 
	padding-bottom: 1rem !important 
	font-size: 1rem 

.submit-label 
	display: flex 
	flex-flow: row wrap 
	input 
		flex: 1 

.submit-split1, .submit-split2
    display: flex

.submit-split1
    flex-grow: 1

.submit-split2
    flex-grow: 1

.submit-text, .submit-label input 
	place-self: center 
	display: flex 

.submit-text 
	color: #bbb 
	margin-right: 0.75rem 

.submit-border 
	border-bottom: 1px solid black !important 
	box-sizing: border-box 

.btn-link 
	border: none 
	outline: none 
	background: none 
	cursor: pointer 
	color: #0000EE 
	padding: 0 
	text-decoration: underline 
	font-family: inherit 
	font-size: inherit 
.link, footer a 
	color: #ff5800 !important 
.link 
	font-weight: bold 
	
.container 
	margin-left: auto 
	margin-right: auto 
	max-width: 80% 
	display: flex 
	align-items: center 
	justify-content: center 
	flex-flow: column 
	margin-bottom: 4rem

.main-menu, .battle-title 
	width: 100% 
	display: flex 
	align-items: center 
	justify-content: center 
	padding: 1rem 0 
.main-menu 
	background-color: black 
	color: white 
	.nav-item 
		a 
			color: white 
			white-space: nowrap 
		&:hover 
			background-color: white 
			a 
				color: black 
.battle-title 
	color: black !important 
	justify-content: space-between 
input[type=button], input[type=submit], input[type=reset]
	padding: 0.75rem 1rem 
	font-size: 1rem
input[type=url] 
	border: 1px solid black 
	padding: 0.75rem 1rem 
	border-right: none 
	font-size: 1rem
.battle-chips
	padding-bottom: 2rem
	padding-top: 1.5rem
	min-height: 0 !important
	display: block !important

	.chip
		margin-top: 0.5rem
		display: inline-block !important

.battle-chips:empty
	padding-top: 2rem
	padding-bottom: 0

.submit-url 
	flex-grow: 1
.submit-password
	width: 100%
	flex-grow: 1
	border: 1px solid black 
	padding: 0.75rem 1rem 
	margin-bottom: 1rem
	font-size: 1rem
.submit-form 
	padding-top: 2rem
	display: flex 
	flex-wrap: wrap
.nav-download 
	background-color: black 
	color: white 
	border: 1px solid black 
	&:hover 
		color: black 
		background: none 
.nav-disabled 
	margin-left: 0.5rem 
	color: black 
	border: 1px solid black 
.nav-item-right	
	margin-left: 0.5rem 
.nav-submit 
	background-color: #ff5800 
	color: white 
	border: 1px solid #ff5800 
	&:hover 
		color: #ff5800 
		background: none 
.battle-information 
	display: flex 
	width: 100% 
	justify-content: center 
	flex-flow: column 
.nav-inner 
	width: 80% 
	display: flex 
	justify-content: space-between 
	align-items: center 
zg-caption 
	background: black 
zing-grid 
	--theme-color-primary: $error-color !important
	--zg-button-color_hover: $error-color !important
	--zg-pager-color: #ff5800
	--zg-icon-color: #ff5800 
	--zg-cell-background_sorted: #eeeeee
	--zg-head-cell-background_sorted: #eeeeee
	--zg-row-body-background_hover: #eeeeee
	.battle-url
		color: $main-color !important
		font-weight: bold
		&:hover
			border-bottom: 1px solid $main-color
	//border: 0

zg-caption
	zg-button
		position: relative

.footer-icon img
	max-height: 1.25rem

zg-cell
	padding: 1rem
	box-sizing: border-box

.break
  flex-basis: 100%
  height: 0

.nav-left 
	display: inline-block 
	img 
		height: 2rem 
a, a:visited, a:hover, a:active 
	color: inherit 
	text-decoration: none 
.nav-links 
	list-style: none 
	align-self: flex-end
	display: flex 
.deadline
	padding-bottom: 1rem
	display: block
.nav-item 
	box-sizing: border-box 
	display: inline-flex 
	align-items: center 
	text-align: center 
	a 
		text-transform: uppercase 
		display: inline-block 
		padding: 0.75rem 1rem 
		text-decoration: none 

.datepicker-date-display, .datepicker-controls .select-month input
	text-transform: uppercase 
	
ul 
	padding-inline-start: 0px 

.battle-rules
	word-wrap: break-word

p 
	margin: 0

.chip:empty 
   display: none !important

.battle-host 
	display: block
	padding-top: 1rem
	padding-bottom: .5rem
	font-size: 1rem
	color: #999

.battle-deadline 
	display: block
	padding-top: .5rem
	font-size: 1rem
	color: #999

.battle-voteinfo
	color: #1E19FF
	padding: 2rem

.toast-success 
	background-color: #ff5800 !important
	margin-left:auto
	margin-right:auto
	
.toast-error 
	background-color: $error-color !important
	margin-left:auto
	margin-right:auto

.nav-info 
	padding: 0 1rem
	align-self: center
	text-transform: uppercase

.btn-flat
	text-transform: uppercase 
	padding: 0.75rem 1rem !important
	background: none
	border: 0
	color: #ff5800
	&:hover
		background-color: #ff5800
		color: white

@media only screen and (max-width: 820px)
	h1, .heading-1
		font-size: 1.2rem
	.battle-host, .battle-deadline
		font-size: 0.8rem
	.container
        max-width: 90%
	.nav-inner
        width: 90%
	#zg-caption-user-text
        font-size: 1rem
	.nav-links
	    font-size: 0.85rem 
	.container-inner
        padding: 3rem 
