.material-tooltip {
  padding: 1rem;
  font-size: 1rem;
  z-index: 2000;
  border-radius: 2px;
  color: #fff;
  line-height: 120%;
  opacity: 0;
  position: absolute;
  text-align: center;
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: #1E19FF;
}

.backdrop {
  position: absolute;
  opacity: 0;
  height: 7px;
  width: 14px;
  border-radius: 0 0 50% 50%;
  background-color: #1E19FF;
  z-index: -1;
  transform-origin: 50% 0%;
  visibility: hidden;
}
