body, html {
    margin: 0;
    padding: 0;
}

h1, ul {
    margin: 0;
}

footer {
    text-align: center;
    background-color: black;
    padding: 1rem 0;
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

h1, .heading-1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.submit-nobox, .submit-header {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    width: 100%;
}

::placeholder {
    color: #bbb;
}

.submit-nobox {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.submit-label {
    display: flex;
    flex-flow: row wrap;
}

.submit-label span, .submit-label input {
    place-self: center;
    display: flex;
}

.submit-text {
    color: #bbb;
    margin-right: 0.75rem;
}

.submit-label input {
    flex: 1;
}

.submit-border {
    border-bottom: 1px solid black !important;
    box-sizing: border-box;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.link, footer a {
    color: #ff5800 !important;
}

.link {
    font-weight: bold;
}

* {
    font-family: 'Inconsolata', monospace;
}

.container {
    margin-left:auto;
    margin-right:auto;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.main-menu, .battle-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.main-menu {
    background-color: black;
    color: white;
}

.battle-title {
    color: black !important;
    justify-content: space-between;
}

input {
    display: inline-block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    box-sizing: border-box;
}    

input[type=button], input[type=submit], input[type=reset] {
    background-color: #ff5800;
    color: white;
    border: 1px solid #ff5800;
}

input[type=url] {
    border: 1px solid black;
    border-right: none;
}

.submit-url {
    width: 80%;
}

.submit-track {
    width: 20%;
}

.submit-form {
    display: flex;
}

.nav-download {
    background-color: black;
    color: white;   
    border: 1px solid black;
}

.nav-disabled {
    margin-left: 0.5rem;
    color: black;
    border: 1px solid black;
}

.nav-submit {
    margin-left: 0.5rem;
    background-color: #ff5800;
    color: white;
    border: 1px solid #ff5800;
}

.nav-submit:hover {
    color: #ff5800;
    background: none;
}

.nav-download:hover {
    color: black;
    background: none;
}

.battle-information {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column;
}

.nav-inner {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

zg-caption {
    background: black;
}

zing-grid {
    --zg-icon-color: inherit;
}
  
.nav-left {
    display: inline-block;
}

.nav-left img {
    height: 2rem;
}

a, a:visited, a:hover, a:active {
    color:inherit;
    text-decoration: none;
}

.nav-links {
list-style: none;
display: flex;
}

.nav-item {    
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.main-menu .nav-item a {
    color: white;
}

.main-menu .nav-item:hover {
    background-color: white;
}

.main-menu .nav-item:hover a {
    color: black;
    }

.nav-item a {
    text-transform: uppercase;
    display: inline-block;
    padding: 0.75rem 1rem;
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

@media only screen and (max-width: 820px) {
    h1, .heading-1 {
        font-size: 1.2rem;
    }

    .container {
        max-width: 90%;
    }

    .nav-inner {
        width: 90%;
    }

    #zg-caption-user-text {
        font-size: 1rem;
    }

    .nav-links {
        font-size: 0.85rem;
    }
  }

  /* TO-DO: FIX DEFAULT STYLING OF FORM ON MOBILE */