{{ define "Battle" }}
  {{ template "Header" .Meta }}
    {{ template "MenuLogo" dict "Me" .Me "Logo" .Battle.Settings.Logo }}
    {{ template "Advertisement" .Ads }}
    <div class="container">
      <div class="battle-information {{if .Battle.Settings.Background}}background{{end}}">
        {{ template "BattleHeader" . }}
        {{ if .Battle.Rules }}
        <h3>Rules</h3>
        <div class="battle-rules">{{.Battle.RulesHTML}}</div>
        {{ end }}
        {{if .Battle.Tags }}
          <div class="chips battle-chips">{{range .Battle.Tags}}<a href="/battles/{{.}}" class="chip">{{.}}</a>{{end}}</div>
        {{end}}
      </div>
      <div id="BeatBattle" ng-app="BeatBattle">
        <md-content ng-cloak layout="column" flex ng-controller="BeatBattleController">      
          <md-card>
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
              <div class="md-toolbar-tools">
                  {{if eq "entry" .Battle.Status}}
                    {{if .EnteredBattle}}Entry Submitted | {{else}}Not Entered | {{end}}
                  {{end}}
                  {{if eq "voting" .Battle.Status}}
                    {{ if .EnteredBattle }}Entry Submitted | {{end}}
                  {{end}}
                  {{.Battle.Entries}} Entries {{if eq "entry" .Battle.Status}}| Beats Hidden During Entry{{end}}{{ if and .IsOwner (eq "complete" .Battle.Status) }}| Click on placements to manually change them.{{ end }}
                  {{if eq "voting" .Battle.Status}}
                  |&nbsp;<span class="votes-remaining">{{.VotesRemaining}}</span>&nbsp;Vote{{if eq .VotesRemaining 1}}{{else}}s{{end}} Left
                  {{if eq "likes" .Filter}}<div flex></div><a href="?">View All</a>{{else}}<div flex></div><a href="?filter=likes">View Likes</a>{{end}}
                  {{end}}
              </div>
            </md-toolbar>
            <md-table-container>
              <table md-table ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="tableChange">
                  <tr md-row>
                    {{ if eq "complete" .Battle.Status }}
                        <th md-column md-order-by="placement"><span>Placement</span></th>
                    {{ end }}

                    {{ if ne "voting" .Battle.Status }}
                      <th md-column md-order-by="artist.name"><span>Artist</span></th>
                    {{ else if .Battle.Settings.ShowUsers }}
                      <th md-column md-order-by="artist.name"><span>Artist</span></th>
                    {{ end }}

                    {{ if ne "entry" .Battle.Status }}
                      <th md-column><span>Track</span></th>
                    {{ end }}

                    {{ if eq "voting" .Battle.Status }}
                      <th md-column><span>Feedback</span></th>
                    {{ end }}
              
                    {{ if eq "complete" .Battle.Status }}
                      <th md-column md-numeric md-order-by="votes"><span>Votes</span></th>
                      {{ if eq .Battle.Host.ID .Me.ID  }}
                      <th md-column md-numeric md-order-by="voted"><span>DQ</span></th>
                      {{ end }}
                    {{ end }}
              
                    {{ if eq "voting" .Battle.Status }}
                      <th md-column md-order-by="user_vote"><span>Vote</span></th>
                      <th md-column md-order-by="user_like"><span>Bookmark</span></th>
                    {{ end }}
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="beat" ng-repeat="beat in beats.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">            
                    {{ if eq "complete" .Battle.Status }}
                      <td md-cell {{ if eq .Battle.Host.ID .Me.ID  }} ng-click="editPlacement($event, beat)" {{end}}>{{`{{beat.placement}}`}}</td>
                      <td md-cell>
                        <a class="battle-url" ng-href="/user/{{`{{beat.artist.id}}`}}">
                            {{`{{beat.artist.name}}`}}
                          </a>
                          <span class={{`{{beat.voted == 1 ? "" : "tooltipped"}}`}} 
                                data-tooltip={{`{{beat.voted == 1 ? "" : "Disqualified"}}`}} 
                                style='color: #0D88FF;'>{{`{{beat.voted == 1 ? "" : "(*)"}}`}}</span>
                      </td>
                    {{ end }}

                    {{ if eq "entry" .Battle.Status }}
                      <td md-cell>
                        <a class="battle-url" ng-href="/user/{{`{{beat.artist.id}}`}}">
                          {{`{{beat.artist.name}}`}}
                        </a>
                      </td>
                    {{ end }}

                    {{ if eq "complete" .Battle.Status }}
                      <td md-cell>
                        <div class="embedded-track">
                          <button data-embed='{{`{{beat.url}}`}}' class="playButton">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 43">
                              <defs>
                                <linearGradient id="playButton__gradient12" x1="0%" y1="0%" x2="0%" y2="100%" spreadMethod="pad">
                                  <stop offset="0%" stop-color="#3a3a3a" stop-opacity="1"></stop>
                                  <stop offset="100%" stop-color="#3a3a3a" stop-opacity="1"></stop>
                                </linearGradient>
                              </defs>
                              <circle fill="url(#playButton__gradient12)" stroke="#3a3a3a" cx="21.5" cy="21.5" r="21"></circle>
                              <circle class="playButton__overlay" fill="#ff5800" fill-opacity="1" stroke="#ff5800" cx="21.5" cy="21.5" r="21"></circle>
                              <path class="playButton__play" fill="#fff" d="M31,21.5L17,33l2.5-11.5L17,10L31,21.5z"></path>
                            </svg>
                          </button>
                        </div>
                      </td>
                    {{ end }}

                    {{ if eq "voting" .Battle.Status }}
                      {{ if .Battle.Settings.ShowUsers }}
                        <td md-cell>
                          <a class="battle-url" ng-href="/user/{{`{{beat.artist.id}}`}}">
                            {{`{{beat.artist.name}}`}}
                          </a>
                        </td>
                      {{ end }}
                      <td md-cell>
                        <div class="embedded-track">
                          <button data-embed='{{`{{beat.url}}`}}' class="playButton">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 43">
                              <defs>
                                <linearGradient id="playButton__gradient12" x1="0%" y1="0%" x2="0%" y2="100%" spreadMethod="pad">
                                  <stop offset="0%" stop-color="#3a3a3a" stop-opacity="1"></stop>
                                  <stop offset="100%" stop-color="#3a3a3a" stop-opacity="1"></stop>
                                </linearGradient>
                              </defs>
                              <circle fill="url(#playButton__gradient12)" stroke="#3a3a3a" cx="21.5" cy="21.5" r="21"></circle>
                              <circle class="playButton__overlay" fill="#ff5800" fill-opacity="1" stroke="#ff5800" cx="21.5" cy="21.5" r="21"></circle>
                              <path class="playButton__play" fill="#fff" d="M31,21.5L17,33l2.5-11.5L17,10L31,21.5z"></path>
                            </svg>
                          </button>
                        </div>
                      </td>
                      <td md-cell ng-click="editFeedback($event, beat)" ng-class="!beat.feedback == '' ? '' : 'md-placeholder'">{{`{{beat.feedback || 'Add your feedback'}}`}}</td>
                      <td md-cell>
                        <button type="submit" ng-click="voteBeat($event, beat)" class="btn-link">
                          <span class="material-icons" row-class="dark" ng-class="beat.user_vote == 1 ? 'active-icon' : 'inactive-icon'">
                          done
                          </span>
                        </button>
                      </td>

                      <td md-cell>
                        <button type="submit" ng-click="likeBeat($event, beat)" class="btn-link">
                          <span class="material-icons" row-class="dark" ng-class="beat.user_like == 1 ? 'active-icon' : 'inactive-icon'">
                          favorite_border
                          </span>
                        </button>
                      </td>
                    {{ end }}
                    
                    {{ if eq "complete" .Battle.Status }}
                      <td md-cell>{{`{{beat.votes}}`}}</td>
                      {{ if eq .Battle.Host.ID .Me.ID  }}
                        <td md-cell>
                          <button ng-click="disqualifyBeat($event, beat)" type="submit" class="btn-link">
                            <span class="material-icons" row-class="dark" ng-class="beat.voted == 0 ? 'active-icon' : 'inactive-icon'">
                            clear
                            </span>
                          </button>
                        </td>
                      {{end}}
                    {{ end }}
                  </tr>
                </tbody>
              </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{`{{beats.count}}`}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="tableChange"></md-table-pagination>
          </md-card>
        </md-content>
      </div>
    </div>
    

    {{if .IsOwner}}
    <div id="deleteBattle" class="modal">
      <div class="modal-content">
        <h4 id="modal-header">Delete Battle</h4>
        <p id="modal-description">Are you sure you want to delete this battle?</p>
      </div>
      <div class="modal-footer">
        <form action="/battle/{{.Battle.ID}}/delete" method="post">
          <input type="hidden" name="delete" id="delete" value="yes">
          <ul class="nav-links">
            <li class="nav-item nav-cta"><input type="submit" id="modal-accept" value="ACCEPT"></li>
            <li class="nav-item nav-secondary"><a class="modal-close" href="#!">DECLINE</a></li>
          </ul>
        </form>
      </div>
    </div>
    <div id="endBattle" class="modal">
      <div class="modal-content">
        <h4 id="modal-header">Close Battle</h4>
        <p id="modal-description">Are you sure you want to close this battle?</p>
      </div>
      <div class="modal-footer">
        <form action="/battle/{{.Battle.ID}}/close" method="post">
          <input type="hidden" name="close" id="close" value="yes">
          <ul class="nav-links">
            <li class="nav-item nav-cta"><input type="submit" id="modal-accept" value="ACCEPT"></li>
            <li class="nav-item nav-secondary"><a class="modal-close" href="#!">DECLINE</a></li>
          </ul>
        </form>
      </div>
    </div>
{{if .Battle.Settings.Background}}
<style>
#BeatBattle {
  background: #121212;
}

body {
  background: none;
}

html {
  background-image: url({{.Battle.Settings.Background}});
  background-size: cover;
}
</style>
{{end}}
    {{end}}
{{ if .Battle.Settings.TrackingID }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{.Battle.Settings.TrackingID}}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', '{{.Battle.Settings.TrackingID}}');
</script>
{{ end }}
<script>
var votesRemaining = {{.VotesRemaining}};
var beats = '{{.Beats}}';
var battleEntries = JSON.parse(beats);
for (var i = 0; i < battleEntries.length; i++) {
  battleEntries[i].index = i
} 
$(document).ready(function() {   
  $('.modal').modal();
  var _href = $("#edit-button").attr("href");
  $("#edit-button").attr("href", _href + "timezone/" + Intl.DateTimeFormat().resolvedOptions().timeZone);
});
</script>
<script src="/static/js/battle-table.min.js"></script>
{{ template "Footer" .Toast }}
{{ end }}