{{define "BattleGrid"}}
<zing-grid no-data="No battles are currently active." caption="Battles" layout-controls="disabled" sort search pager page-size="25" page-size-options="10, 25, 50" layout="row" viewport-stop>
    <zg-colgroup>
    <zg-column cell-class="zing-left" header="Battle" index="title" type="url" cell-class="link">
        <template>
        <a class="battle-url" href="/battle/[[record.id]]">[[index.title]]</a>
        <div class="chips zing-chips"><a href="/battles/[[record.Tags.0.tag]]" class="chip">[[record.Tags.0.tag]]</a><a href="/battles/[[record.Tags.1.tag]]" class="chip">[[record.Tags.1.tag]]</a><a href="/battles/[[record.Tags.2.tag]]" class="chip">[[record.Tags.2.tag]]</a></div>
        </template>
    </zg-column>
    <zg-column cell-class="zing-left" index="status"></zg-column>
    <zg-column cell-class="zing-left" index="type"></zg-column>
    <zg-column cell-class="zing-left" index="host">
        <a class="battle-url" href="/user/[[record.user_id]]">[[index.host]]</a>
    </zg-column>
    <zg-column cell-class="zing-both" index="entries"></zg-column>
    </zg-colgroup> 
</zing-grid>    
{{end}}