{{ define "Feedback" }}
  {{ template "Header" .Title }}
  {{ template "Menu" .Me }}
  {{ template "Advertisement" .Ads }}
  <div class="container">
    <div class="battle-information">
      {{ template "BattleHeader" . }}
      <h3>Rules</h3>
      <div class="battle-rules">{{.Battle.RulesHTML}}</div>
      {{if .Battle.Tags }}
      <div class="chips battle-chips">{{range .Battle.Tags}}<a href="/battles/{{.Value}}" class="chip">{{.Value}}</a>{{end}}</div>
      {{end}}
    </div>
    <zing-grid no-data="You haven't received any feedback yet." caption="Feedback" layout-controls="disabled" sort search pager page-size="10" page-size-options="10, 25, 50" layout="row" viewport-stop>
      <zg-colgroup>
        <zg-column cell-class="zing-left" header="From" index="from"></zg-column>
        <zg-column header="Feedback" index="feedback"></zg-column>
      </zg-colgroup>
    </zing-grid>
  </div>
  <script>
    window.addEventListener('load', () => {
        const zgRef = document.querySelector('zing-grid');
        var data = {{.Feedback}};
        zgRef.setData(data);

        zgRef.executeOnLoad(function() {
            const observer = lozad();
            observer.observe();
        });
    });
  </script>
  {{ template "Footer" .Toast }}
{{ end }}