{{ define "Footer" }}
      <footer>
        <a class="footer-url" href="/faq">FAQ</a>
        <a class="footer-url" href="https://discord.gg/GTYqBfV">DISCORD</a>
        <a class="footer-icon" href="https://twitter.com/PSAInfatuation">
        <img src="/static/img/twitter-logo.svg" /></a>
      </footer>
      <script type="text/javascript" src="/static/js/materialize.min.js"></script>
      <script type="text/javascript" src="/static/js/beatbattle.min.js"></script>
      <script>
        {{if index . 1}}
          $(document).ready(function() { M.toast({ html: {{index . 0}}, classes: {{index . 1}} }); });
        {{end}}
      </script>
    </body>
</html>
{{ end }}