{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{{.}}</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/site.webmanifest">
        <script src="https://cdn.zinggrid.com/zinggrid.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.min.css">
        <link rel="stylesheet" href="/static/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Beat,Battle,Beatbattle,App,Application,Rap,RapBattle,Rap Battle,Beat Battle,Beat Battle App,ArtBattle,Art,Art Battle,RapBattle,Producer,Competition,VST,Fruity Loops,FL Studio,Ableton,Ableton Live,AbletonLive">
        <meta name="description" content="Host and participate in internet beat battles. Submit tracks and vote on your favourite beats to determine who's the best producer.">
        <meta property="og:title" content="Beatbattle.app - {{.}}">
        <meta property="og:description" content="Host and participate in internet beat battles. Submit tracks and vote on your favourite beats to determine who's the best producer.">
        <meta property="og:image" content="http://beatbattle.app/static/img/beatbattle-meta.jpg">
        <meta property="og:url" content="https://beatbattle.app/">
        <meta property="og:url" content="website">
        <meta name="twitter:title" content="Beatbattle.app - {{.}}">
        <meta name="twitter:description" content="Host and participate in internet beat battles. Submit tracks and vote on your favourite beats to determine who's the best producer.">
        <meta name="twitter:image" content="http://beatbattle.app/static/img/beatbattle-meta.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@beatbattleapp" />
        <script src="https://cdn.jsdelivr.net/gh/infatuation-psa/Darkmode.js@master/lib/darkmode-js.min.js"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
{{ end }}