{{ define "Index" }}
  {{ template "Header" .Title }}
    {{ template "Menu" .Me }}
    {{ template "Advertisement" .Ads }}
    <div class="container">
      <div class="battle-information">
        <nav class="battle-title">
          <h1 class="nav-left">Active Battles</h1>
          <ul class="nav-links">
              <li class="nav-item nav-secondary"><a href="/past">PAST</a></li>
              <li class="nav-item nav-cta"><a href="/battle/submit">NEW BATTLE</a></li>
          </ul>
        </nav>
      </div>
    {{ template "BattleGrid" }}
    </div>
    <script>
      var onChange = function (event) { 
        setTimeout(function(){$(".tooltipped").tooltip()},1);
      };
      window.addEventListener('load',()=>{
        const zgRef = document.querySelector('zing-grid');
        var data = '{{.Battles}}';
        zgRef.setData(data);
        zgRef.executeOnLoad(function() {
          const observer = lozad();
          observer.observe();
          onChange();
        });

        zgRef.addEventListener('grid:ready', onChange);
        zgRef.addEventListener('grid:refresh', onChange);
        zgRef.addEventListener('grid:pagesizechange', onChange);
        zgRef.addEventListener('grid:pagechange', onChange);
      })
    </script>
  {{ template "Footer" .Toast }}
{{ end }}