{{ define "Index" }}
  {{ template "Header" .Title }}
    {{ template "Menu" .User }}
    <div class="container">
      <div class="battle-information">
        <nav class="battle-title">
          <h1 class="nav-left">Active Battles</h1>
          <ul class="nav-links">
              <li class="nav-item nav-secondary"><a href="/past">PAST</a></li>
              <li class="nav-item nav-cta"><a href="/battle/submit">NEW BATTLE</a></li>
          </ul>
        </nav>
      </div>
    {{ template "BattleGrid" }}
    </div>
    <script>window.addEventListener('load',()=>{const zgRef=document.querySelector('zing-grid');const data={{.Battles}};zgRef.setData(data);})</script>
  {{ template "Footer" .Toast }}

{{ end }}