

{{ define "Login" }}
  {{ template "Header" .Title }}
    <div class="login">
        <a href="/" class="logo"><img src="/static/logo.svg"></a>
        <div class="container-inner">
            <h1>Log In</h1>
            <ul class="nav-links">
                <li class="nav-item"><a href="/auth?provider=discord">DISCORD</a></li>
                <li class="nav-item"><a href="/auth?provider=reddit">REDDIT</a></li>
                <li class="nav-item"><a href="/auth?provider=twitch">TWITCH</a></li>
            </ul>
        </div>
    </div>
  {{ template "Footer" .Toast }}
{{ end }}