{{ define "Menu" }}
<nav class="main-menu">
    <div class="nav-inner">
    <a href="/" class="nav-left"><img src="/static/logo.svg"></a>
    <ul class="nav-links">
        <li class="nav-item"><a href="https://discord.gg/GTYqBfV">DISCORD</a></li>
        {{if .Name}}<li class="nav-item"><a href="/myaccount">{{ .Name }}</a></li>{{end}}
        <li class="nav-item">{{if .Name}}<a href="/logout/{{.Provider}}">LOG OUT</a>{{else}}<a href="/login">LOG IN</a>{{end}}</li>
    </ul>
    </div>
</nav>
{{ end }}