{{ define "MyAccount" }}
  {{ template "Header" .Title }}
    {{ template "Menu" .User }}
    <div class="container">
      <div class="battle-information">
        <nav class="battle-title">
          <h1 class="nav-left">{{.User.Name}}</h1>
          <ul class="nav-links">
              <li class="nav-item nav-secondary"><a href="/me/groups">GROUPS</a></li>
              <li class="nav-item nav-secondary"><a href="/me/submissions">SUBMISSIONS</a></li>
          </ul>
        </nav>
      </div>
    {{ template "BattleGrid" }}  
    </div>
    <script>window.addEventListener('load',()=>{const zgRef=document.querySelector('zing-grid');const data={{.Battles}};zgRef.setData(data);})</script>
  {{ template "Footer" .Toast }}
{{ end }}