{{ define "MyBeats" }}
  {{ template "Header" .Title }}
    {{ template "Menu" .User }}
    <div class="container">
      <div class="battle-information">
        <nav class="battle-title">
          <h1 class="nav-left">My Beats</h1>
          <ul class="nav-links">
              <li class="nav-item nav-download"><a href="/past">My Battles</a></li>
              <li class="nav-item nav-item-right nav-submit"><a href="/battle/submit">NEW BATTLE</a></li>
          </ul>
        </nav>
      </div>
      <zing-grid caption="Your Beats" layout-controls="disabled" sort search pager page-size="10" page-size-options="10, 25, 50" layout="row" viewport-stop>
        <zg-colgroup>
          <zg-column cell-class="zing-left" header="Track" index="url"></zg-column>
          <zg-column header="Votes" index="votes"></zg-column>
          <zg-column header="Battle" index="battle" type="url" type-url-icon="outsidearrow">
          <a href="/battle/[[record.id]]"><button type="submit" class="btn-link"><zg-icon name="link"><svg id="svg--9432" slot="icon" viewBox="0 0 24 24"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path></svg></zg-icon></button></a>
          </zg-column>
        </zg-colgroup>
        <zg-nodata>No one has entered this battle yet.</zg-nodata>
      </zing-grid>
    </div>
    <script>window.addEventListener('load',()=>{const zgRef=document.querySelector('zing-grid');const data={{.Beats}};zgRef.setData(data);zgRef.executeOnLoad(function(){$('.tooltipped').tooltip()})});var _href=$("#edit-button").attr("href");$("#edit-button").attr("href",_href+"timezone/"+Intl.DateTimeFormat().resolvedOptions().timeZone)</script>
  {{ template "Footer" .Toast }}
{{ end }}