{{ define "SubmitGroup" }}
  {{ template "Header" .Title }}
    {{ template "Menu" .Me }}
    {{ template "Advertisement" .Ads }}
    <div class="container">
      <div class="battle-information">
        <form id="submit-group" method="POST" action="/group/submit">
        <nav class="battle-title">
            <input type="text" class="heading-1 submit-header submit-wide" id="title" name="title" maxlength="64" placeholder="Group Title" required>
            <ul class="nav-links">
              <li class="nav-item nav-cta"><input type="submit" name="submit" value="PUBLISH" /></li>
            </ul>
        </nav>
        <textarea rows="1" class="submit-border submit-nobox" id="description" name="description" maxlength="3072" placeholder="Group Description (Supports Markdown Syntax)" required></textarea>
        <div class="submit-nobox">
          <input class="styled-checkbox" id="inviteonly" name="inviteonly" type="checkbox">
          <label for="inviteonly">Invite Only</label>
        </div>
        </div>
        </form>
      </div>
    </div>
    <script>
      window.addEventListener('load',()=>{
        $('.collapsible').collapsible();
        const observer = lozad();
        observer.observe();
      })
    </script>
    <script>function chipUpdate(){$("#tags").val(JSON.stringify(this.chipsData))}autosize($("textarea")),$(document).ready(function(){$(".chips").chips({limit:3,placeholder:"Enter Up To 3 Tags (Optional)",secondaryPlaceholder:"+Tag",onChipAdd:chipUpdate,onChipDelete:chipUpdate}),$(".datepicker").datepicker(),$(".timepicker").timepicker(),$("#timezone").val(Intl.DateTimeFormat().resolvedOptions().timeZone)});</script>
  {{ template "Footer" .Toast }}
{{ end }}