{{ define "SubmitBeat" }}
  {{ template "Header" .Title }}
    {{ template "Menu" .User }}
    <div class="container">
      <div class="battle-information">
        <span class="battle-host"><a href="/user/{{.Battle.UserID}}">{{.Battle.Host}}</a> | <span style="color: #ff5800">Submit Beat</span></span>
        <nav class="battle-title">
          <div class="nav-left">
          <h1>{{.Battle.Title}}</h1>
          <span class="battle-deadline">{{if eq "entry" .Battle.Status}}{{trimPrefix "Open - " .Battle.StatusDisplay}}{{else if eq "voting" .Battle.Status}}{{trimPrefix "Voting - " .Battle.StatusDisplay}}{{else}}{{.Battle.StatusDisplay}}{{end}}</span>
          </div>
          <ul class="nav-links">          
            <li class="nav-item nav-secondary"><a href="javascript:history.back()">BACK</a></li>
          </ul>
        </nav>
        <h3>Rules</h3>
        <div class="battle-rules">{{.Battle.RulesHTML}}</div>
        <form method="POST" class="submit-form" action="/beat/{{.Battle.ID}}/submit">
          {{if .Battle.Password}}<input type="text" class="submit-password" id="password" name="password" placeholder="Password" required>{{end}}
          <div class="break"></div>
          <input type="url" class="submit-url" id="track" name="track" placeholder="SoundCloud Track (Use Share Link For Private Tracks)" required>
          <input type="submit" class="nav-cta" value="SUBMIT" />
        </form>
      </div>
      </div>
  {{ template "Footer" .Toast }}
{{ end }}