{{ define "SubmitBeat" }}
  {{ template "Header" .Meta }}
    {{ template "Menu" .Me }}
    {{ template "Advertisement" .Ads }}
    <div class="container">
      <div class="battle-information">
        {{ template "BattleHeader" . }}
        <h3>Rules</h3>
        <div class="battle-rules">{{.Battle.RulesHTML}}</div>
        <form method="POST" class="submit-form" action="/beat/{{.Battle.ID}}/submit">
          {{if .Battle.Password}}<input type="text" class="submit-password" id="password" name="password" placeholder="Password" required>{{end}}
          <div class="break"></div>
          <input type="url" class="submit-url" id="track" name="track" placeholder="SoundCloud Track (Use Share Link For Private Tracks)" required>
          <input type="submit" class="nav-cta" value="SUBMIT" />
        </form>
      </div>
    </div>
    <script>
      window.addEventListener('load',()=>{
        const observer = lozad();
        observer.observe();
      })
    </script>
  {{ template "Footer" .Toast }}
{{ end }}