{{ define "UpdateBattle" }}
  {{ template "Header" }}
    {{ template "Menu" .User }}
    <div class="container">
      <div class="battle-information">
        <form id="submit-battle" method="POST" action="/update/battle/{{.Battle.ID}}">
        <nav class="battle-title">
            <input type="text" data-index="1" class="heading-1 submit-header" id="title" name="title" maxlength="64" value="{{.Battle.Title}}" placeholder="Battle Title">
            <input type="submit" class="nav-submit" value="UPDATE 🔥" />
        </nav>
        <input data-index="2" class="submit-border submit-nobox" id="rules" name="rules" value="{{.Battle.Rules}}" maxlength="255" placeholder="Battle Rules">
        <input type="text" data-index="3" class="submit-border submit-nobox" id="password" value="{{.Battle.Password}}" name="password" maxlength="64" placeholder="Password (Optional)">
        <div class="submit-border submit-label">
            <span class="submit-text">Max Votes</span>
            <input type="number" data-index="4" class="submit-nobox" id="maxvotes" name="maxvotes" value="{{.Battle.MaxVotes}}" min="1" max="10">
        </div>
        <div class="submit-border submit-label">
            <span class="submit-text">Deadline</span>
            <input type="datetime" data-index="5" class="submit-nobox" id="deadline" value="{{.Battle.Deadline.Format "2006-01-02T15:04"}}" name="deadline">
        </div>
        <div class="submit-border submit-label">
            <span class="submit-text">Voting Deadline</span>
            <input type="datetime"  data-index="6" class="submit-nobox" value="{{.Battle.VotingDeadline.Format "2006-01-02T15:04"}}" id="votingdeadline" name="votingdeadline">
        </div>
        <input type="url" class="submit-border submit-nobox" data-index="7" id="attachment" name="attachment" value="{{.Battle.Attachment}}" placeholder="Battle Attachment (Optional)">
        </form>
      </div>
      </div>
      <script>
      $('#submit-battle').on('keydown', 'input', function (event) {
            if (event.which == 13) {
                event.preventDefault();
                var $this = $(event.target);
                var index = parseFloat($this.attr('data-index'));
                if (index >= 7) {
                  index = 0;
                }
                $('[data-index="' + (index + 1).toString() + '"]').focus();
            }
        });
      </script>
  {{ template "Footer" }}
{{ end }}