{{ define "UpdateBattle" }}
  {{ template "Header" .Title }}
    {{ template "Menu" .User }}
    <div class="container">
      <div class="battle-information">
        <form id="submit-battle" method="POST" action="/battle/{{.Battle.ID}}/update">
        <nav class="battle-title">
            <input type="text" class="heading-1 submit-header submit-wide" id="title" name="title" maxlength="64" value="{{.Battle.Title}}" placeholder="Battle Title" required>
            <ul class="nav-links">
              <li class="nav-item nav-secondary"><input type="submit" name="submit" value="DRAFT" /></li>
              <li class="nav-item nav-cta"><input type="submit" name="submit" value="PUBLISH" /></li>
            </ul>
        </nav>
        <div class="chips submit-border">
          <input placeholder="Enter Up To 3 Tags (Optional)" maxlength="32" class="submit-nobox custom-class">
        </div>
        <textarea rows="1" class="submit-border submit-nobox" id="rules" name="rules" maxlength="1024" placeholder="Battle Rules (Supports Markdown Syntax)" required>{{.Battle.Rules}}</textarea>
        <input type="text" class="submit-border submit-nobox" id="password" name="password" value="{{.Battle.Password}}" maxlength="64" placeholder="Password (Optional)">
        <div class="submit-border submit-label submit-wide">
            <span class="submit-text">Max Votes</span>
            <input type="number" class="submit-nobox" id="maxvotes" name="maxvotes" value="{{.Battle.MaxVotes}}" value="1" min="1" max="10" required>
        </div>
        <div class="container-form submit-border">
          <div class="submit-split1">
              <input type="text" class="datepicker submit-nobox" id="deadline-date" name="deadline-date" value="{{.DeadlineDate}}". placeholder="Deadline Date" required>
          </div>
          <div class="submit-split2">
              <input type="text" class="timepicker submit-nobox" id="deadline-time" name="deadline-time" value="{{.DeadlineTime}}" placeholder="Deadline Time" required>
          </div>
        </div>
        <div class="container-form submit-border">
          <div class="submit-split1">
              <input type="text" class="datepicker submit-nobox" id="votingdeadline-date" name="votingdeadline-date"  value="{{.VotingDeadlineDate}}" placeholder="Voting Deadline Date" required>
          </div>
          <div class="submit-split2">
              <input type="text" class="timepicker submit-nobox" id="votingdeadline-time" name="votingdeadline-time"  value="{{.VotingDeadlineTime}}" placeholder="Voting Deadline Time" required>
          </div>
        </div>
        <input type="url" class="submit-border submit-nobox" id="attachment" name="attachment" value="{{.Battle.Attachment}}" placeholder="Battle Attachment (URL, Optional)">
        <input type="hidden" name="timezone" id="timezone" value="">
        <input type="hidden" name="tags" id="tags" value="">
        </div>
        </form>
      </div>
      </div>
      <script>function chipUpdate() {$('#tags').val(JSON.stringify(this.chipsData))};
      autosize($('textarea'));
      $(document).ready(function(){
          $('.chips').chips({
            data: [{{range .Battle.Tags}}{ tag: '{{.Value}}',},{{end}}],
            limit: 3,
            placeholder: 'Enter Up To 3 Tags (Optional)',
            secondaryPlaceholder: '+Tag',
            onChipAdd: (chipUpdate),
            onChipDelete: (chipUpdate),
            });$(".datepicker").datepicker(),$(".timepicker").timepicker(),$("#timezone").val(Intl.DateTimeFormat().resolvedOptions().timeZone)});</script>
  {{ template "Footer" .Toast }}
{{ end }}