{{ define "UpdateBattle" }}
  {{ template "Header" .Title }}
    {{ template "Menu" .Me }}
    {{ template "Advertisement" .Ads }}
    <div class="container">
      <div class="battle-information">
        <form id="submit-battle" method="POST" action="/battle/{{.Battle.ID}}/update">
        <nav class="battle-title">
            <input type="text" class="heading-1 submit-header submit-wide" id="title" name="title" maxlength="64" value="{{.Battle.Title}}" placeholder="Battle Title" required>
            <ul class="nav-links">
              <li class="nav-item nav-secondary"><input type="submit" name="submit" value="DRAFT" /></li>
              <li class="nav-item nav-cta"><input type="submit" name="submit" value="PUBLISH" /></li>
            </ul>
        </nav>
        <div class="chips submit-border">
          <input placeholder="Enter Up To 3 Tags (Optional)" maxlength="32" class="submit-nobox custom-class">
        </div>
        <div class="container-form submit-border submit-label submit-wide">
          <span class="submit-text">Battle Type</span>
          <select class="submit-nobox" name="type">
            <option value="beat" {{if eq "Beat" .Battle.Type}}selected{{end}}>Beat Battle</option>
            <option value="rap" {{if eq "Rap" .Battle.Type}}selected{{end}}>Rap Battle</option>
            <option value="art" disabled>Art Battle (Coming Soon)</option>
          </select>
        </div>
        {{ if .UserGroups }}   
        <div class="container-form submit-border submit-label submit-wide">
          <span class="submit-text">Group (Optional)</span>
          <select class="submit-nobox" name="group">
            <option {{if eq 0 .Battle.GroupID}}selected{{end}} value="0">None</option>
            {{ range .UserGroups }}
            <option {{if eq .ID $.Battle.GroupID}}selected{{end}} value="{{.ID}}">{{.Title}}</option>
            {{ end }}
          </select>
        </div>
        {{ end }}
        <textarea rows="1" class="submit-border submit-nobox" id="rules" name="rules" maxlength="3072" placeholder="Battle Rules (Supports Markdown Syntax)" required>{{.Battle.Rules}}</textarea>
        <div class="submit-border submit-label submit-wide">
            <span class="submit-text">Max Votes</span>
            <input type="number" class="submit-nobox" id="maxvotes" name="maxvotes" value="{{.Battle.MaxVotes}}" value="1" min="1" max="10" required>
        </div>
        <div class="container-form submit-border">
          <div class="submit-split1">
              <input type="text" class="datepicker submit-nobox" id="deadline-date" name="deadline-date" value="{{.DeadlineDate}}". placeholder="Deadline Date" required>
          </div>
          <div class="submit-split2">
              <input type="text" class="timepicker submit-nobox" id="deadline-time" name="deadline-time" value="{{.DeadlineTime}}" placeholder="Deadline Time" required>
          </div>
        </div>
        <div class="container-form submit-border">
          <div class="submit-split1">
              <input type="text" class="datepicker submit-nobox" id="votingdeadline-date" name="votingdeadline-date"  value="{{.VotingDeadlineDate}}" placeholder="Voting Deadline Date" required>
          </div>
          <div class="submit-split2">
              <input type="text" class="timepicker submit-nobox" id="votingdeadline-time" name="votingdeadline-time"  value="{{.VotingDeadlineTime}}" placeholder="Voting Deadline Time" required>
          </div>
        </div>
        <input type="url" class="submit-nobox" id="attachment" name="attachment" value="{{.Battle.Attachment}}" placeholder="Battle Attachment (URL, Optional)">
        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="material-icons">psychology</i>Advanced Options</div>
            <div class="collapsible-body">
              <div class="submit-border submit-label submit-wide">
                <input type="url" class="submit-nobox" id="logo" value="{{.Battle.Logo}}" name="logo" placeholder="Custom Logo (Direct Image Link)">
                <!-- <span class="submit-text">Custom Logo</span>
                <input type="file" class="" id="logo" name="logo" placeholder="Custom logo"> -->
              </div>
              <div class="submit-border submit-label submit-wide">
                <input type="url" class="submit-nobox" id="background" value="{{.Battle.Background}}" name="background" placeholder="Custom Background (Direct Image Link)">
                <!-- <span class="submit-text">Custom Background</span>
                <input type="file" class="" id="background" name="background" placeholder="Custom Background (Direct Image Link)"> -->
              </div>
              <div class="submit-border submit-nobox submit-label submit-wide">
                <span class="submit-text">Custom Color</span>
                <input type="color" class="" id="color" name="color" value="{{.Battle.Color}}" placeholder="Custom color">
              </div>
              <input type="text" class="submit-border submit-nobox" id="password" name="password" value="{{.Battle.Password}}" maxlength="16" placeholder="Password (Optional)">
              {{ if .UserGroups }}   
              <div class="container-form submit-border submit-label submit-wide">
                <span class="submit-text">Group (Optional)</span>
                <select class="submit-nobox" name="group">
                  <option value="0" selected>None</option>
                  {{ range .UserGroups }}
                  <option value="{{.ID}}">{{.Title}}</option>
                  {{ end }}
                </select>
              </div>
              {{ end }}
            </div>
          </li>
        </ul>
        <input type="hidden" name="style_id" id="style_id" value="{{.Battle.StyleID}}">
        <input type="hidden" name="timezone" id="timezone" value="">
        <input type="hidden" name="tags" id="tags" value="">
        </div>
        </form>
      </div>
    </div>
  <script>
    function chipUpdate() {
        $('#tags').val(JSON.stringify(this.chipsData))
    };
    autosize($('textarea'));
    $(document).ready(function() {
      const observer = lozad();
      observer.observe();
      
      $('.modal').modal();
      $('select').formSelect();
      $(".datepicker").datepicker();
      $(".timepicker").timepicker();
      $("#timezone").val(Intl.DateTimeFormat().resolvedOptions().timeZone);
      $('.collapsible').collapsible();

      $('.chips').chips({
          data: [{{range .Battle.Tags}}{ tag: '{{.Value}}',},{{end}}],
          limit: 3,
          placeholder: 'Enter Up To 3 Tags (Optional)',
          secondaryPlaceholder: '+Tag',
          onChipAdd: (chipUpdate),
          onChipDelete: (chipUpdate),
      });
    });
  </script>
  {{ template "Footer" .Toast }}
{{ end }}