{{ define "UserBattles" }}
  {{ template "Header" .Meta }}
    {{ template "Menu" .Me }}
    {{ template "Advertisement" .Ads }}
    <div class="container">
      {{ template "UserHeader" . }}
      {{ template "BattleGrid" .Battles }}
    </div>
  {{ template "Footer" .Toast }}
{{ end }}