{{ define "UserAccount" }}
  {{ template "Header" .Title }}
    {{ template "Menu" .User }}
    <div class="container">
      <div class="battle-information">
        <nav class="battle-title">
          <h1 class="nav-left">{{.Nickname}}</h1>
          <ul class="nav-links">
              <li class="nav-item nav-secondary"><a href="/user/{{.UserID}}/groups">GROUPS</a></li>
              <li class="nav-item nav-secondary"><a href="/user/{{.UserID}}/submissions">SUBMISSIONS</a></li>
              {{if .UserGroups}}
              <li class="nav-item nav-cta"><a class="modal-trigger" href="#invite">INVITE</a></li>
              {{end}}
          </ul>
        </nav>
      </div>
    <zing-grid caption="Battles" layout-controls="disabled" nodata="{{.Nickname}} hasn't started a battle yet." sort search pager page-size="10" page-size-options="10, 25, 50" layout="row" viewport-stop>
      <zg-colgroup>
        <zg-column cell-class="zing-left" header="Battle" index="title" type="url" cell-class="link">
          <template>
          <a class="battle-url" href="/battle/[[record.id]]">[[index.title]]</a>
            <div class="chips zing-chips"><a href="/battles/[[record.Tags.0.tag]]" class="chip">[[record.Tags.0.tag]]</a><a href="/battles/[[record.Tags.1.tag]]" class="chip">[[record.Tags.1.tag]]</a><a href="/battles/[[record.Tags.2.tag]]" class="chip">[[record.Tags.2.tag]]</a></div>
          </template>
        </zg-column>
        <zg-column cell-class="zing-left" header="Status" index="status"></zg-column>
        <zg-column cell-class="zing-left"  index="host"></zg-column>
        <zg-column cell-class="zing-both"  header="Entries" index="entries"></zg-column>
      </zg-colgroup> 
    </zing-grid>    
    </div>
    <div id="invite" class="modal">
        <form id="invite-user" method="POST" action="/user/{{.UserID}}/invite">
      <div class="modal-content">
        <h4 id="modal-header">Invite</h4>
        <p id="modal-description" style="margin-bottom: 1em;">What group would you like to invite {{.Nickname}} to?</p>
        <select name="group">
          <option value="" disabled selected>Group</option>
          {{ range .UserGroups }}
          <option value="{{.ID}}">{{.Title}}</option>
          {{ end }}
        </select>
      </div>
      <div class="modal-footer">
            <input type="submit" name="submit" class="nav-item nav-cta" value="INVITE" />
      </div>
        </form>
    </div>
    <script>window.addEventListener('load',()=>{const zgRef=document.querySelector('zing-grid');const data={{.Battles}};zgRef.setData(data);})</script>
    <script>$(document).ready(function(){$('.modal').modal();$('select').formSelect();});</script>
  {{ template "Footer" .Toast }}
{{ end }}