{{ define "UserSubmissions" }}
  {{ template "Header" .Title }}
    {{ template "Menu" .User }}
    <div class="container">
      <div class="battle-information">
        <nav class="battle-title">
          <h1 class="nav-left">{{.Nickname}}</h1>
          <ul class="nav-links">
              <li class="nav-item nav-secondary"><a href="/user/{{.UserID}}/groups">GROUPS</a></li>
              <li class="nav-item nav-secondary"><a href="/user/{{.UserID}}">BATTLES</a></li>
          </ul>
        </nav>
      </div>
      <zing-grid nodata="{{.Nickname}} hasn't entered any battles yet." caption="Submissions" layout-controls="disabled" sort search pager page-size="10" page-size-options="10, 25, 50" layout="row" viewport-stop>
        <zg-colgroup>
          <zg-column cell-class="zing-left" header="Battle" index="battle" type="url" cell-class="link">
            <a class="battle-url" href="/battle/[[record.challenge_id]]">[[index.battle]]</a>
          </zg-column>
          {{ if .IsMobile }}
          <zg-column cell-class="zing-left" header="Track" index="url">
          </zg-column>
          {{ else }}
          <zg-column cell-class="zing-left" header="Track" index="url">
            <div class="embedded-track">
              <button data-embed='[[index.url]]' class="playButton">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 43">
                  <defs>
                    <linearGradient id="playButton__gradient12" x1="0%" y1="0%" x2="0%" y2="100%" spreadMethod="pad">
                      <stop offset="0%" stop-color="#ff5500" stop-opacity="1"></stop>
                      <stop offset="100%" stop-color="#ff2200" stop-opacity="1"></stop>
                    </linearGradient>
                  </defs>
                  <circle fill="url(#playButton__gradient12)" stroke="#cc4400" cx="21.5" cy="21.5" r="21"></circle>
                  <circle class="playButton__overlay" fill="#000" fill-opacity="0.08" stroke="#cc4400" cx="21.5" cy="21.5" r="21"></circle>
                  <path class="playButton__play" fill="#fff" d="M31,21.5L17,33l2.5-11.5L17,10L31,21.5z"></path>
                </svg>
              </button>
            </div>
          </zg-column>
          {{ end }}  
          <zg-column cell-class="zing-left" header="Votes" index="votes"></zg-column>
          <zg-column cell-class="zing-both" header="Status" index="status"></zg-column>
        </zg-colgroup>
        <zg-nodata>You haven't entered any battles yet.</zg-nodata>
      </zing-grid>
    </div>
<script src="/static/battle.min.js"></script>
<script>
window.addEventListener("load", () => {
    var beats = '{{.Beats}}'; 
    const darkmodeActivated = window.localStorage.getItem('darkmode') === 'true';
    if(darkmodeActivated) {
        beats = beats.replace(/inverse=false/g, "inverse=true");
        console.log("true");
    }
    const t = document.querySelector("zing-grid");
    t.setData(beats), t.executeOnLoad(function() {
        setTimeout(function(){onChange()},1)
    }), t.addEventListener("grid:pagechange", t => {
        setTimeout(function(){onChange()},1)
    }), t.addEventListener("grid:refresh", t => {
        setTimeout(function(){onChange()},1)
    }), t.addEventListener("grid:pagesizechange", t => {
        setTimeout(function(){onChange()},1)
    }), t.addEventListener("grid:ready", t => {
        setTimeout(function(){onChange()},1)
    })
});
</script>
  {{ template "Footer" .Toast }}
{{ end }}