{{ define "UserHeader" }}
    <div class="battle-information">
      <nav class="battle-title">
        <h1 class="nav-left profile">
          {{.Meta.Title}}&nbsp;
          {{ if .User.Flair }}
            <span class="material-icons tooltipped" data-tooltip="{{ .User.Flair }}">emoji_events&nbsp;</span>
          {{ end }}
        </h1>
        <ul class="nav-links">
            <!-- TODO: nav-active should be applied to current link instead of making context-sensitive buttons -->
            <!-- Generate context-appropriate links -->
            <!-- href="/user/{{.User.ID}}/trophies" -->
            {{ if eq "submissions" .Page }}
                <li class="nav-item nav-secondary"><a href="/user/{{.User.ID}}">BATTLES</a></li>
            {{ else if eq "battles" .Page }}
                <li class="nav-item nav-secondary"><a href="/user/{{.User.ID}}/submissions">SUBMISSIONS</a></li>
            {{ else }}
                <li class="nav-item nav-secondary"><a href="/user/{{.User.ID}}">BATTLES</a></li>
                <li class="nav-item nav-secondary"><a href="/user/{{.User.ID}}/submissions">SUBMISSIONS</a></li>
            {{ end }}
        </ul>
      </nav>
    </div>
{{ end }}